  
<style>
  .btn-space {
    margin-right: 10px;
  }

  myModal {
    z-index: 2147483647;
  }

  .disabledDiv {
    pointer-events: none;
    opacity: 0.4;
  }
</style>

<div ng-init="vm.init()">
  <div
    class="container"
    style="overflow-y: auto; overflow-x: hidden; height: 425px"
  >
    <form>
      <div class="mx-auto" style="width: 200px;">
        <h5 class="modal-title">Cadastrar Perfil</h5>
      </div>
      <div class="form-group">
        <label for="nomePerfil">Nome: </label>
        <input
          type="nome"
          class="form-control"
          id="nomePerfil"
          ng-model="vm.perfil.nome"
          placeholder="Digite o nome da perfil"
        />
      </div>

      <div class="form-group">
        <label for="descricaoPerfil">Descrição:</label>
        <input
          type="text"
          class="form-control"
          id="descricaoPerfil"
          ng-model="vm.perfil.descricao"
          placeholder=" Digite a descrição do perfil"
        />
      </div>
    </form>
  </div>
  <div
    class="row"
    style="float: right; padding-top: 30px; padding-right: 20px;"
  >
    <button
      type="button"
      class="btn btn-primary btn-space"
      ng-click="vm.incluir(vm.perfil)"
    >
      Salvar
    </button>
    <button type="button" class="btn btn-danger" ng-click="vm.cancelar()">
      Cancelar
    </button>
  </div>

  <div
    class="modal fade"
    id="modalPerfil"
    role="dialog"
    data-backdrop="false"
  >
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
</div>