<style>
    .disabledDiv {
        pointer-events: none;
        opacity: 0.4;
    }
</style>

<div ng-init="vm.init()" style="overflow-y: auto; overflow-x: hidden; ">
    <div class="container">
        <div ng-class="{'disabledDiv': vm.endereco !== undefined}" style="text-align: right;">
            <img src="../../../app/imagens/bootstrap-icons/icons/document-richtext.svg" style="cursor: pointer;" alt=""
                width="25" height="25" title="Incluir Perfil" ng-click="vm.editar()" />
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Data da Inclusão</th>
                    <th scope="col">Data da Alteração</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="perfil in vm.listaPerfilsMostrar track by $index"></tr>
                    <td>{{perfil.nome}}</td>
                    <td>{{perfil.descricao}}</td>
                    <td>{{perfil.dataHoraInclusao}}</td>
                    <td>{{perfil.dataHoraAlteracao}}</td>
                    <td>
                        <img src="../../../app/imagens/bootstrap-icons/icons/pencil.svg" style="cursor: pointer;" alt=""
                            width="25" height="25" title="Editar" ng-click="vm.editar(perfil.id)" />
                    </td>

                    <td>
                        <img src="../../../app/imagens/bootstrap-icons/icons/trash.svg" style="cursor: pointer;" alt=""
                            width="25" height="25" title="Excluir" ng-click="vm.remover(perfil.id)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>