<style>
  .btn-space {
    margin-right: 10px;
  }

  myModal {
    z-index: 2147483647;
  }

  .disabledDiv {
    pointer-events: none;
    opacity: 0.4;
  }
</style>

<div ng-init="vm.init()">
  <div class="container" style="overflow-y: auto; overflow-x: hidden; height: 425px">
    <form>
      <div class="mx-auto" style="width: 200px;">
        <h5 class="modal-title">{{vm.tituloTela}}</h5>
      </div>
      <div class="form-group">
        <label for="nomePessoa">Nome: </label>
        <input type="nome" class="form-control" id="nomePessoa" ng-model="vm.pessoa.nome"
          placeholder="Digite o nome da pessoa" />
      </div>
      <div class="form-group">
        <label for="emailPessoa">E-mail</label>
        <input type="text" class="form-control" id="emailPessoa" ng-model="vm.pessoa.email"
          placeholder="name@example.com" />
      </div>
      <div class="row">
        <div class="form-group">
          <label for="nascimentoPessoa" style="width: 250px;">Data de nascimento</label>
          <input type="date" class="form-control" id="nascimentoPessoa" ng-model="vm.pessoa.dataNascimento"
           style="width: 175px;" />
        </div>
        <div class="form-group">
          <label for="nomePerfil">Perfil</label>
          <div>
            <select style="width: 250px; height: 38px;"
              ng-class="{'disabledDiv': vm.listaPerfil.length === 0, 'custom-select custom-select-sm': true}"
              ng-options="item as item.nome for item in vm.listaPerfil" ng-model="vm.perfil">
              <option value=""> PERFIL </option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-check">
        <input class="form-check-input" ng-checked="vm.pessoa.situacao"
          ng-click="vm.pessoa.situacao = !vm.pessoa.situacao" type="checkbox" id="defaultCheck1" />
        <label class="form-check-label" for="defaultCheck1">
          Situação
        </label>
      </div>
      <div>
        <div style="text-align: right;">
          <img src="../../../app/imagens/bootstrap-icons/icons/document-richtext.svg" style="cursor: pointer;" alt=""
            width="25" height="25" title="Incluir Endereço" ng-click="vm.abrirModal()" />
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Cidade</th>
              <th scope="col">UF</th>
              <th scope="col">Logradouro</th>
              <th scope="col">Complemento</th>
              <th scope="col">Bairro</th>
              <th scope="col">Cep</th>
              <th scope="col">Editar</th>
              <th scope="col">Excluir</th>
            </tr>
          </thead>
          <tbody ng-repeat="endereco in vm.pessoa.enderecos track by $index">
            <tr>
              <td>{{endereco.localidade}}</td>
              <td>{{endereco.uf}}</td>
              <td>{{endereco.logradouro}}</td>
              <td>{{endereco.complemento}}</td>
              <td>{{endereco.bairro}}</td>
              <td>{{endereco.cep}}</td>
              <td>
                <img ng-class="{'disabledDiv': endereco.complemento.length === 0}"
                  src="../../../app/imagens/bootstrap-icons/icons/pencil.svg" style="cursor: pointer;" alt="" width="25"
                  height="25" title="Editar" ng-click="vm.abrirModal(endereco)" />
              </td>

              <td>
                <img ng-class="{'disabledDiv': endereco.id === null}"
                  src="../../../app/imagens/bootstrap-icons/icons/trash.svg" style="cursor: pointer;" alt="" width="25"
                  height="25" title="Excluir" ng-click="vm.remover(endereco, 'ENDERECO', $index)" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="row" style="float: right; padding-top: 30px; padding-right: 20px;">
    <button type="button" class="btn btn-primary btn-space" ng-click="vm.incluir(vm.pessoa)">
      Salvar
    </button>
    <button type="button" class="btn btn-danger" ng-click="vm.cancelar()">
      Cancelar
    </button>
  </div>

  <div class="modal fade" id="modalEndereco" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          {{vm.enderecoNovo.id ? "Editando endereço" : "Cadastrar novo endereço"}}
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="form-group">
              <label for="cep">CEP: </label>
              <input type="text" class="form-control" id="cep"
                ng-model="vm.enderecoNovo.cep"
                placeholder="Digite o CEP"
              />
            </div>
            <div class="form-group">
              <label for="localidade">Cidade: </label>
              <input type="text" class="form-control" id="localidade"
                ng-model="vm.enderecoNovo.localidade"
                placeholder="Digite a cidade"
              />
            </div>
            <div class="form-group">
              <label for="uf">UF: </label>
              <input type="text" class="form-control" id="uf"
                ng-model="vm.enderecoNovo.uf"
                placeholder="Digite a UF"
              />
            </div>  
            <div class="form-group">
              <label for="logradouro">Logradouro: </label>
              <input type="text" class="form-control" id="logradouro"
                ng-model="vm.enderecoNovo.logradouro"
                placeholder="Digite o logradouro"
              />
            </div>
            <div class="form-group">
              <label for="complemento">Complemento: </label>
              <input type="text" class="form-control" id="complemento"
                ng-model="vm.enderecoNovo.complemento"
                placeholder="Digite o complemento"
              />
            </div>
            <div class="form-group">
              <label for="bairro">Bairro: </label>
              <input type="text" class="form-control" id="bairro"
                ng-model="vm.enderecoNovo.bairro"
                placeholder="Digite o bairro"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-space" data-dismiss="modal" ng-click="vm.salvarEndereco()">
            Salvar
          </button>
          <button type="button" class="btn btn-danger" ng-click="vm.limparTela()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>